@media (min-width: 768px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-nav {
    border-top: none;
  }

  .navbar .navbar-nav button span {
    display: none;
  }

  main .meal-section .meal-img {
    height: 650px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
  }
  main .meal-section .info {
    height: 650px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fe886a4d transparent;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
  html {
    font-size: 113%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 110%;
  }
}
