:root {
  --main-color: #e74432;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar .navbar-toggler {
  border: none;
  font-size: 24px;
  transition: color 300ms;
}

.navbar {
  border-bottom: 1px solid #ffedd4;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler:hover {
  color: var(--main-color);
}

.navbar .navbar-brand .logo {
  background-color: var(--main-color);
  padding: 10px;
  font-size: 22px;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 0px #0000;
}

.navbar .navbar-brand h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: oklch(0.21 0.034 264.665);
}

.navbar .navbar-brand p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
}
.navbar .navbar-nav {
  border-top: 1px solid #ffedd4;
}
.navbar .navbar-nav button {
  border: none;
  background-color: transparent;
  display: block;
}

.navbar .navbar-nav button {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.navbar .navbar-nav button .pic {
  border: 2px solid var(--main-color);
  border-radius: 50%;
}

.navbar .navbar-nav button .pic img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

/* Main  */

main {
  background-image: linear-gradient(#fef8ed, #fff9eb, #fffbeb);
  height: 100vh;
  padding-top: 100px;
}

main .meal-section .meal-img {
  position: relative;
}

main .meal-section .meal-img img {
  height: 400px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

main .meal-section .meal-img .rate {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 15px;
}

main .meal-section .meal-img .rate i {
  color: #fac92a;
  font-size: 14px;
}
main .meal-section .meal-img .rate #rate {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: oklch(0.21 0.034 264.665);
}
main .meal-section .meal-img .rate #reviews {
font-size: 12px;
font-weight: 400;
line-height: 16px;
color: oklch(0.551 0.027 264.364);
}
main .meal-section .meal-img .times {
  position: absolute;
  background-color: #fbf4f2;
  padding: 10px;
  bottom: 5%;
  left: 20px;
  right: 20px;
  border-radius: 12px;
  /* transform: translateX(-50%); */
}

main .meal-section .meal-img .times i {
  color: var(--main-color);
  font-size: 16px;
}

main .meal-section .meal-img .times .cat {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: oklch(0.551 0.027 264.364);
}

main .meal-section .meal-img .times .time {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: oklch(0.21 0.034 264.665);
}


main .meal-section .info{
    background-color: #fff;
    height:100% ;

}

main .meal-section .info .actions>div{
    padding: 15px;
    background-color: #ffe4dc;
    color: #e74432;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 200ms;
}

main .meal-section .info .actions>div:hover{
    background-color: #FAD6A7;
}

main .meal-section .info .level #level{
font-size: 12px;
font-weight: 600;
line-height: 16px;
color: oklch(0.527 0.154 150.069);
background-color: #DBF9E7;
padding: 5px 10px;
border-radius: 12px;
text-transform: capitalize; 
}
main .meal-section .info .level #countery{
font-size: 12px;
font-weight: 600;
line-height: 16px;
color: oklch(0.488 0.243 264.376);
padding: 5px 10px;
text-transform: capitalize;
border-radius: 12px;
background-color: #DBEAFE;
}

main .meal-section .info h2{
font-size: 24px;
font-weight: 700;
line-height: 32px;
color: oklch(0.21 0.034 264.665);
}

main .meal-section .info p{
font-size: 14px;
font-weight: 400;
line-height: 20px;
color: oklch(0.446 0.03 256.802);
}

main .meal-section .info .nav-pills .nav-link{
    color: #989DA6;
    text-transform: capitalize;
font-size: 12px;
font-weight: 600;
line-height: 16px;
padding: 5px;
}

main .meal-section .info .nav-pills .nav-link.active{
    background-color: transparent;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 0px;
}

main .meal-section .info .tab-content #pills-ingredients{
    background-color: #FFF9EB;
}
main .meal-section .info .tab-content .tab-pane {
    overflow-y: scroll;
    min-height: 340px;
}
main .meal-section .info .tab-content .step .num{
    background-color:#EA6731;
    padding: 3px 8px;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

main .meal-section .info .tab-content .step p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: oklch(0.373 0.034 259.733);
}